body{
	margin:0px;
	padding: 0px;
	background-color:#1b203d;
	/*overflow: hidden;*/
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	margin-left: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.logo span{
	color: #f7403b;
}
.sidenav {
  height: 140%;
  width: 300px;
  position: fixed;

  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
}
.head{
	padding:20px;
}
.col-div-6{
	width: 50%;
	float: left;
}
.profile{
	display: inline-block;
	float: right;
	width: 160px;
}
.pro-img{
	float: left;
	width: 40px;
	margin-top: 5px;
}
.profile p{
	color: white;
	font-weight: 500;
	margin-left: 55px;
	margin-top: 10px;
	font-size: 13.5px;
}
.profile p span{
	font-weight: 400;
    font-size: 12px;
    display: block;
    color: #8e8b8b;
}
.col-div-3{
	width: 25%;
	float: left;
  text-align: center;
}
.box{
	width: 85%;
	height: 100px;
	background-color: #272c4a;
	margin-left: 10px;
	padding:10px;
}
.box p{
	 font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}
.box p span{
	font-size: 20px;
	font-weight: 400;
	color: #818181;
}
.box-icon{
	font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #818181;
    padding-right: 10px;
}
.col-div-8{
	width: 70%;
	float: left;
}

.col-div-9{
	width: 100%;
	float: left;
}
.col-div-4{
	width: 30%;
	float: left;
}

.content-box{
	padding: 20px;
}
.content-box p{
	margin: 0px;
    font-size: 20px;
    color: #f7403b;
}
.content-box p span{
	float: right;
    background-color: #ddd;
    padding: 3px 10px;
    font-size: 15px;
}
.box-8, .box-4{
	width: 95%;
	background-color: #272c4a;
	height: 100%;
	
}

.col-div-5{
  margin-top: 20px;
  float: left;
  width: 30%;
}

.box-2{
  width: 100%;
  background-color: #272c4a;

}


.nav2{
	display: none;
}

.box-8{
	margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 5%;
  
}
td, th {
  text-align: center;
  padding:15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* ||||||||||||||||||||||||||Add Product||||||||||||||||||||||-*/

.core{
  margin-top: 20px;
  text-transform: capitalize;
}
.core-item{
  width: 99%;
  padding: 10px;
  margin-top: 10px;
  background: #272c4a;
  color: white;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box-add-product {
  width: calc(25% - 10px);
  height: 160px;
  background-color: #292e47;
  text-align: center;
  margin: 5px;
}
.images_container {
  display: flex;
  justify-content: space-between;
}
.images{
  height: 60%;
}

#selectElement{
  text-align: center;
  width: 50%;
}


#geninfo{
  display: flex;
  justify-content:space-between;
  margin: 3% 5%;
  margin-bottom: 5%;
}
#clinfo{
width:50%;
margin-block: 40px;
}
#catg{
  width: 20%;
}
#prix{
  width: 20%;
}

#qte{
  width: 20%;
}

#total{
  margin-top: -2%;
  text-align: center;
  margin-left: 80%;
}

#valider-btn{
  align-items: right;
}

select{
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  padding:8px
}
input[type="text"],input[type="submit"],button,
textarea {
  background-color: #292f50;
  padding: 10px 0px;
  font-size: 16px;
  width: 98%;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin-top: 10px;
  color: white;
}
input[type="submit"],button,#edit-icon
{
  cursor: pointer;
}

#edit-icon{
  text-decoration: none;
  color: white;
}

#searchbar form{
  width: fit-content;
  position: relative;
  right: -72%;
}

#search-btn{
  padding: 10px 20px;
}