body{
    background-color: black;
    color: white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background: #000000;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#header .logo{
    width: 15%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}


#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
}

#Product{
    all: unset;
}

#ProductContainer{
    border: #088178 3px solid;
    border-radius: 20px;
    margin: 10px;
    background-color: #17171a;
}
#ProductContainer:hover{
    border: #0195f7 3px solid;
    border-radius: 20px;
    cursor: pointer;
}

#Image{
  display: flex;
  align-items: center;
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: black;
}

#title{
    color:aqua ;
    width: 300px;
    text-align: center;
    height: 40px;
    font-weight: bold;
}

#BuyButton{
    margin-bottom: 10px ;
    margin-left: 9px;
    padding: 10px ;
    width: 95%;
    border-radius: 20px;
    background-color: #088178;
    color: white;
    border: none;
}

#BuyButton:hover{
    background-color: blue;
    cursor: pointer;
}

.showMore{
    padding: 10px;
    width: 600px;
    background-color: aqua;
    border-radius: 30px;
    margin-top: 30px;
}

#filter{
  width: 15%;
  padding: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#filter:hover {
  background-color: #fff;
  color: #333;
}

.left-div {
  float: left;
  padding-left: 15px;
  margin-right: 5%;
}

.right-div {
  float: center;
}

.categories{
  text-decoration: none;
  color: aqua;

}
.categories:hover {
  color: blue;
  text-decoration:underline ;
}

.center {
    text-align: center;
  }

.form-input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

.form-submit {
  width: 30%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}