* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
body{
    background-color: #17171a;
    color: whitesmoke;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: fixed;
    background-color: #17171a;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 9999;

}

#header .logo{
width: 50px;
}

.search-box {
    display: flex;
    float: right;
    margin-left: 200px;
    width: 500px;
  }

#search-input{
    padding: 10px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    color: white;
}

#search-button{
    width: 20%;
    background-color: rgb(28, 85, 189);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #006eff;
    
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #006eff;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
    
}






/* header */


/* container global - disabled */

/* .container {
    margin: 0 20px;
  }
*/

.contents {
    background-color: white;
}


.image-container .iphone-12 {
    height: 640px;
    width: 100%;
    margin-bottom: 0px;
}

.iphone-12 {
    height: 100%;
    background-image: url(img/iphone_12.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    }

.iphone-12 .title {
    text-align: center;
    padding-top: 50px;
}


.iphone-12 .title h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.897);
    font-weight: 700;
}
.iphone-12 .title p {
    font-size: 25px;
    font-weight: bold;
    color: rgba(41, 41, 41, 0.89)
}

 .cta-links {
    text-align: center;
}

.image-container .iphone-12-pro {
    height: 640px;
    width: 100%;
    padding-top: 20px;
}

.iphone-12-pro {
    height: 90%;
    min-height: 100%;
    background-image: url(img/iphone12pro-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.iphone-12-pro .title {
    text-align: center;
}

.iphone-12-pro .title h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 700;
}

.iphone-12-pro .title p {
    font-size: 30px;
    font-weight: normal;
    color: rgba(255, 253, 253, 0.87)
}

.iphone-12-pro .cta-links {
    text-align: center;
}
.image-container .fitness {
    height: 500px;
    width: 100%;
    padding-top: 0%;
    flex: auto;
    
}

.fitness {
    height: 90%;
    min-height: 100%;
    background-image: url(img/apple-fitness.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 00px;
}

.title .hello {
    text-align: center;
    margin-top: 40px;
    font-size: 80px;
    color: rgba(0, 0, 0, 0.897);
    font-weight: 700;
}



 .title .A {
     text-align: center;
    font-size: 30px;
    font-weight: normal;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.87)
    
}

.fitness .cta-links {
    text-align: center;
}

/* main */
.all-ul, .flex-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .all-ul li, .flex-list li {
    color: white;
    height: 770px;
  }
  .all-ul ul li, .flex-list ul li{
      margin-bottom: 5px;
  }

  .flex-list{
      display: flex;
      flex-wrap: wrap;
  }
  .flex-list li{
      flex: auto;
      width: 50%;
  }
  .img{
      margin: 0 auto;
      width: 100%;
  }
  .headline{
      margin-top: 0;
      margin-bottom: 10px;
  }
  .content{
      overflow: hidden;
  }
  /* main themes content */
  .theme-dark{
    background-color: #000;
    margin: 0 auto;
  }
  .theme-light{
    background-color: #fbfbfd;
    margin: 0 auto;
    color: #1D1D1F;
  }
  .container-main{
    width: 98%;
    height: 100%;
  }

.flex-list  ul li img, .all-ul ul li img{
      width: 100%;
  }

  .cta-links a{
      font-size: 23px;
      margin-right: 20px;
      text-decoration: none;
      color: #2997FF;
      font-weight: normal;
  }
  .cta-links a:hover{
      text-decoration: underline;
  }
  
  /* hover zoom products animation */
  .unit-image figure img{
      transition: transform .2s;
  }
  .unit-image figure img:hover{
      transform: scale(1.05);
  }
  .apple-watch-logo{
    width: 25%;
}
/* main */


  /* css untuk footer */

  footer {
      background-color: #f5f5f7;
      padding: 40px;
      height: 1000px;
      color: #1d1d1f;
  }

  .logo-footer {
      width: 50px;
      margin-bottom: 10px;
  }

  .txt-copy {
      margin: 0;
  }

  .txt-copy a {
      color: #fff;
  }

  .txt-copy a:hover {
      text-decoration: underline;
  }
  .footer-container{
      display: flex;
  }
  .footer-list {
      float: left;
      width: 30%;
      margin: 0 auto;
      
  }

  .footer-list p a {
      color: #1d1d1f;
  }

  .footer-list p a:hover {
      text-decoration: underline;
  }

  .clear-footer {
      clear: left;
  }
  .foot-notes ul li{
      color: #86868b;
      height: 2em;
      margin: 10px 0;
      text-align: left;
  }
  .footer-container, .footer-list-container{
      width: 70%;
      margin: 0 auto;
  }
/* footer */

/* responsive */
.menu-logo{
    visibility: hidden;
    position: absolute;
}
.fa-searchs{
    visibility: hidden;
}


/* --------------------- Footer ---------------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #17171a;
    color: #fff;
    height: 100%;

}
.section-p1 {
    padding: 40px 80px;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
    width: 15%;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: white;
    padding-right: 4px;
    cursor: pointer;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}

footer .install .row img {
    border: 1px solid white;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .follow i:hover,
footer a:hover {
    color: #0195f7;
}                   


/* --------------------- Shop page --------------------- */


.left-div {
    position: fixed;
    float: left;
    width: 19%;
  }
  
  .right-div {
    float: right;
    width: 80%;
  }
  
  #Product{
    all: unset;
    float: left; 
  }
  
  #ProductContainer{
    text-align: center;
    width: 340px;
    height: 540px;
    border: #0195f7 3px solid;
    border-radius: 20px;
    margin: 10px;
    background-color: #17171a;
  }
  #ProductContainer:hover{
      border: #1a01f7 3px solid;
      border-radius: 20px;
      cursor: pointer;
  }
  
  #Image{
    height: 320px;
    padding: 10px;
    margin: 5px;
    border: white 1px solid;
    border-radius: 10px;
    background-color: black;
  }
  #image img {
    border-radius: 5px;
  }
  
  .title_container{
    height: 60px;
  }
  
  #title{
    color:#0195f7 ;
    width: 300px;
    height: 70px;
    font-weight: bold;
  }
  
  #BuyButton{
    margin-bottom: 10px ;
    padding: 10px ;
    width: 95%;
    border-radius: 20px;
    background-color: #0195f7;
    color: white;
    border: none;
  }
  
  #BuyButton:hover{
    background-color: blue;
    cursor: pointer;
  }
  
  
  #filter{
    width: 15%;
    padding: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  
  #filter:hover {
    background-color: #fff;
    color: #333;
  }
  
  
  
  .categories{
    text-decoration: none;
    color: #0195f7;
  
  }
  .categories:hover {
    color: blue;
    text-decoration:underline ;
  }
  
  .center {
      text-align: center;
    }

