body{
  background-color: black;
  color: white;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  position: sticky;

}

#header .logo{
  width: 50px;
}


.search-box {
  display: flex;
  float: right;
  margin-left: 200px;
  width: 500px;
}
#search-input{
  padding: 10px;
  width: 80%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  background-color: black;
  color: white;
}

#search-button{
  width: 20%;
  background-color: rgb(28, 85, 189);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
    
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a i {
    font-weight: 500;
    font-size: 20px;
    
}

.left-div {
  float: left;
  width: 19%;
}

.right-div {
  float: right;
  width: 80%;
}

#Product{
  all: unset;
  float: left; 
}

#ProductContainer{
  text-align: center;
  width: 340px;
  height: 540px;
  border: #088178 3px solid;
  border-radius: 20px;
  margin: 10px;
  background-color: #17171a;
}
#ProductContainer:hover{
    border: #0195f7 3px solid;
    border-radius: 20px;
    cursor: pointer;
}

#Image{
  height: 300px;
  padding: 10px;
  margin: 10px;
  border: white 1px solid;
  border-radius: 10px;
  background-color: black;
}

.title_container{
  height: 60px;
}

#title{
  color:aqua ;
  width: 300px;
  height: 70px;
  font-weight: bold;
}

#BuyButton{
  margin-bottom: 10px ;
  padding: 10px ;
  width: 95%;
  border-radius: 20px;
  background-color: #088178;
  color: white;
  border: none;
}

#BuyButton:hover{
  background-color: blue;
  cursor: pointer;
}


#filter{
  width: 15%;
  padding: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

#filter:hover {
  background-color: #fff;
  color: #333;
}



.categories{
  text-decoration: none;
  color: aqua;

}
.categories:hover {
  color: blue;
  text-decoration:underline ;
}

.center {
    text-align: center;
  }

